@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');

body {
    background-color: aliceblue;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 100vh;
    margin: 0;
}

h1 {
    font-family: 'Poppins', sans-serif;
    text-align: center;
}

canvas {
    border: 5px solid #000;
    border-radius: 5px;
}